body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #195ef1;
    margin: 20px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #195ef1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003bb3;
}

.Result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #195ef1;
}

/* Estilo para o modal */
.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
}

.modal-overlay {
    display: none; /* Esconde a sobreposição por padrão */
    position: fixed; /* Fixa a sobreposição na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Fica abaixo do modal */
}

/* Botão de fechar no modal */
.modal button {
    width: auto;
    max-width: none;
    margin: 10px 0 0 0;
    background-color: #dc3545;
}

.modal button:hover {
    background-color: #c82333;
}
